/* --- --- --- --- --- --- --- --- --- ---
| GENERAL STYLES
--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- */
a,
a:link,
a:visited,
a:active{
    text-decoration: none;
    @include ease();
    *{
        @include ease(.3s);
    }
}

a.link_icon
{
    display: inline-block;
    min-width: 32px;
    text-align: center;
    vertical-align: middle;
    @include ease(.2s);

    i{
        font-size: 20px;
    }

    &.gray{
        color: $dark;
        &:hover{
            color: lighten($dark, 35%);
        }
    }
}


/* --- --- --- --- --- --- --- --- --- ---
| BOOTSTRAP OVERRIDE
--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- */
*.bi{
    font-size: 24px;
    vertical-align: middle;
}
hr{
    margin: 1rem 0;
}

.btn.btn-primary{
    border-radius: 25px;
    color: $white;
    text-transform: uppercase;
    font-size: .7rem;
}

/* --- --- --- --- --- --- --- --- --- ---
| HEADER
--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- */
@import 'partials/header';
@import 'partials/banner';

/* --- --- --- --- --- --- --- --- --- ---
| BODY
--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- */
body{
    font-family: $primary-font;
}
.gradient{
    @include clip_text();
}
.font-8rem{
    font-size: .8rem;
}

#featured{
    background: rgba($primary-color, .2);
    height: 85px;
    .star{
        display: flex;
        align-items: center;
        position: absolute;
        height: 98px;
        background: url('/v1/img/star.png') no-repeat center left;
        p{
            margin-bottom: 0 !important;
            margin-left: 112px;
        }
    }
}

h2{
    text-align: center;
    font-weight: $font-extra;
    margin-bottom: .5rem;
    strong{
        display: block;
        text-align: center;
        text-transform: uppercase;
        @include clip_text();
    }
}

h3
{
    color: $black;
    margin-bottom: .5rem;
    font-weight: $font-bold;
    font-size: 1.25rem;
}

h4{
    margin-bottom: .5rem;
    font-weight: $font-extra;
    font-size: 1.4rem;
    min-height: 2.8rem;
    &.gradient{
        @include clip_text();
    }
}

.fa-solid{
    &.big-60{
        font-size: 60px;
    }
}

p.small-paragraph-clean
{
    font-size: .875rem;
    line-height: 175%;
}

.col-same-height-386{
    min-height: 386px;
    position: relative;
}
.pos-abs-bottom-0{
    position: absolute;
    bottom: 0;
    left: calc(50% - 145px);
}

ul.small{
    li{
        font-size: .9rem;
    }
}

/* --- --- --- --- --- --- --- --- --- ---
| FOOTER
--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- */
@import 'partials/footer';
