/* --- --- --- --- --- --- --- --- --- ---
| GENERAL STYLES
--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- */
a,
a:link,
a:visited,
a:active{
    text-decoration: none;
    @include ease();
    *{
        @include ease(.3s);
    }
}

a.link_icon
{
    display: inline-block;
    min-width: 32px;
    text-align: center;
    vertical-align: middle;
    @include ease(.2s);

    i{
        font-size: 20px;
    }

    &.gray{
        color: $dark;
        &:hover{
            color: lighten($dark, 35%);
        }
    }
}


/* --- --- --- --- --- --- --- --- --- ---
| BOOTSTRAP OVERRIDE
--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- */
*.bi{
    font-size: 24px;
    vertical-align: middle;
}
hr{
    margin: 1rem 0;
}

.btn.btn-primary{
    border-radius: 25px;
    color: $white;
    text-transform: uppercase;
    font-size: .7rem;
}
.btn.btn-secondary{
    border-radius: 25px;
    text-transform: uppercase;
    font-size: .7rem;
}

/* --- --- --- --- --- --- --- --- --- ---
| HEADER
--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- */
@import 'partials/header';
@import 'partials/banner';

/* --- --- --- --- --- --- --- --- --- ---
| BODY
--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- */
body{
    font-family: $primary-font;
}
.gradient{
    @include clip_text();
}
.font-8rem{
    font-size: .8rem;
}

#featured,
.featured{
    background: rgba($primary-color, .2);
    height: 85px;
    .star{
        display: flex;
        align-items: center;
        position: absolute;
        height: 98px;
        background: url('/v1/img/star.png') no-repeat center left;
        p{
            margin-bottom: 0 !important;
            margin-left: 112px;
        }
    }
}

h1{
    &.font-bold{
        font-size: 2rem;
        font-weight: $font-bold;
    }
    &.gradient{
        font-weight: $font-extra;
        margin-bottom: .5rem;
        text-transform: uppercase;
        font-size: 2rem;
    }
}

h2{
    text-align: center;
    font-weight: $font-extra;
    margin-bottom: .5rem;
    strong{
        display: block;
        text-align: center;
        text-transform: uppercase;
        @include clip_text();
    }
    &.text-start{
        strong{
            text-align: left;
        }
    }
}

h3
{
    color: $black;
    margin-bottom: .5rem;
    font-weight: $font-bold;
    font-size: 1.25rem;
}

h4{
    margin-bottom: .5rem;
    font-weight: $font-extra;
    font-size: 1.4rem;
    min-height: 2.8rem;
    &.gradient{
        @include clip_text();
    }
}

.fa-solid{
    &.big-60{
        font-size: 60px;
    }
}

p.small-paragraph-clean
{
    font-size: .875rem;
    line-height: 175%;
}

.col-same-height-386{
    min-height: 406px;
    position: relative;
}
.pos-abs-bottom-0{
    position: absolute;
    bottom: 0;
    left: calc(50% - 145px);
}

ul.small,
ol.small{
    li{
        font-size: .9rem;
    }
}

.blog__categories_list{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
        border-bottom: 1px solid $gray;
        padding: 5px;
        a{
            font-size: .75rem;
            font-weight: $font-light;
            text-transform: uppercase;
            color: $gray;
            &:hover{
                color: darken($gray, 50%);
            }
        }
        &.active{
            a{
                font-weight: $font-bold;
                @include clip_text();
            }
        }
    }
}

.blog__summary{
    .blog__thumb_image{
        opacity: .5;
    }
    &:hover{
        .blog__thumb_image{
            opacity: 1;
        }
    }
}
.blog__thumb_image{
    border-radius: 20px;
}
.blog__summary_category-title{
    text-transform: uppercase;
    color: $primary;
    font-size: .75rem;
    font-weight: $font-bold;
}
.blog__summary--date{
    font-size: .85rem;
    color: $gray;
}
.blog__summary--title{
    font-size: 1rem;
    margin: 0;
    color: $dark;
}
.blog__summary--text{
    color: $dark;
}
.pipe{
    color: $gray;
    font-weight: $font-light;
    opacity: .35;
    margin: 0 12px;
}
.blog--content p{
    font-size: .875rem;
    line-height: 175%;
    color: $dark;
}
.blog--content img{
    max-width: 100%;
    height: auto;
}

/* --- --- --- --- --- --- --- --- --- ---
| CONTACT FORM
--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- */
@import 'partials/forms';

/* --- --- --- --- --- --- --- --- --- ---
| FOOTER
--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- */
@import 'partials/footer';
