// Site web fonts
$primary_font:      'Inter', sans-serif;
$secondary_font:    'Inter', sans-serif;
$auxiliar_font:     'Inter', sans-serif;
$font_thin:         300;
$font_light:        300;
$font_regular:      400;
$font_medium:       400;
$font_bold:         600;
$font_extra:        800;
$text-small:        .85rem;
$text-normal:       1rem;
$text-big:          2rem;
$text-bigger:       3rem;

// Colors
$white:             #FFFFFF;
$black:             #000000;
$gray:              #C4C4C4;
$gray_light:        #F2F2F2;
$primary_color:     #E4B04B;
$secondary_color:   #334155;

// Bootstrap Override Variables
:root{
    --bs-body-font-family: var($primary_font);
}

$body-color:        $secondary_color;
$primary:           $primary_color;
$secondary:         $secondary_color;
$success:           #22c55e;
$info:              #0ea5e9;
$warning:           #f59e0b;
$danger:            #ef4444;
$light:             $gray_light;
$dark:              #171C23;
$tooltip-bg:        $dark !default;
$spacer:            1.65rem;
