:root {
  --bs-body-font-family: var($primary_font);
}

#galeria {
  padding: 20px;
  background: #171C23;
}
#galeria .carousel-caption {
  background: #171C23;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
#galeria .carousel-caption h5 {
  font-family: "Inter", sans-serif;
  color: #E4B04B;
  font-size: 2rem;
  text-align: left;
}
#galeria .carousel-caption p {
  color: #FFFFFF;
  text-align: left;
  font-weight: 300;
  font-size: 14px;
}
