#bg_pattern{
    background: url('/v1/img/bg_pattern.png') $primary_color;
    height: 70px;
}

header{
    background-color: $white;
    margin-top: -35px;
    border-radius: 24px;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);

    .navbar-nav{
        li{
            margin: 0 1.1rem;
            &.active,
            &:hover{
                background: url('/v1/img/nav_top.png') no-repeat no-repeat top center;
            }
            a{
                text-transform: uppercase;
                color: $secondary_color;
                height: 70px;
                display: flex;
                justify-content: center;
                align-items: center;
                &.active{
                    @include clip_text();
                    font-weight: $font-bold;
                }
            }
        }
    }
    .elissir{
        color: #312E81;
        font-weight: $font-bold;
        font-size: .85rem;
    }
}
